body {
  background-image: url("../img/pizza.jpeg");
  background-repeat: no-repeat;
  background-size: 1729px 1000px;
  background-position: center center;
}

.results__listF {
  height: 175px;
}

.results__listS {
  height: 60px;
}